[Desktop Entry]
Name=GollyRunPython
GenericName=Run a Python script in Golly
Exec=golly-run-python
Icon=golly
Terminal=false
Type=Application
Categories=GNOME;Game;LogicGame;
MimeType=application/golly-python
